<md-dialog aria-label="Change Password" ng-cloak>
    <form ng-submit="changePassword()" name="passwordChangeForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Change Password</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="closeDialog()" ng-hide="user.currentUser.isPasswordChanged">
                    <md-icon class="material-icons md-primary" md-menu-align-target>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="row">
                    <md-input-container flex>
                        <label>Old Password</label>
                        <input type="password" md-no-asterisk ng-model="oldPassword" name="oldPassword" ng-required="true">
                        <div ng-messages="passwordChangeForm.oldPassword.$error">
                            <div ng-message="required">Password is required.</div>
                        </div>
                        <md-icon class="material-icons md-primary" md-menu-align-target>vpn_key</md-icon>
                    </md-input-container>
                </div>
                
                <div layout="row">
                    <md-input-container flex>
                        <label>New Password</label>
                        <input type="password" md-no-asterisk ng-model="newPassword" name="newPassword" ng-required="true">
                        <div ng-messages="passwordChangeForm.newPassword.$error">
                            <div ng-message="required">Password is required.</div>
                        </div>
                        <md-icon class="material-icons md-primary" md-menu-align-target>vpn_key</md-icon>
                    </md-input-container>
                </div>
                
                <div layout="row">
                    <md-input-container flex>
                        <label>Confirm Password</label>
                        <input type="password" md-no-asterisk ng-model="confNewPassword" name="confNewPassword" ng-required="true">
                        <div ng-messages="passwordChangeForm.confNewPassword.$error">
                            <div ng-message="required">Password is required.</div>
                        </div>
                        <md-icon class="material-icons md-primary" md-menu-align-target>vpn_key</md-icon>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button type="submit" ng-disabled="!passwordChangeForm.$valid || !(newPassword === confNewPassword)" >
                Change
            </md-button>
            <md-button ng-click='closeDialog()' ng-hide="user.currentUser.isPasswordChanged">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>