<div layout="row" layout-align="center center">
    <div flex-gt-sm="66">
    <h3 class="md-headline">Signup</h3>
    <form name="signupForm">
        <div layout="row">
            <md-input-container flex>
                <label>First Name</label>
                <input autocomplete="off" ng-maxlength="30" type="text" md-no-asterisk ng-model="newUser.firstName" name="firstName" 
                        ng-required="true" ng-pattern="/^[a-z\s]+$/i" tabindex="1">
                <div ng-messages="signupForm.firstName.$error">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="maxlength">The first name has to be less than 30 characters long.</div>
                    <div ng-message="pattern">The first name can only have alphabets and spaces.</div>
                </div>
                <md-icon class="material-icons md-primary" md-menu-align-target>person</md-icon>
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container flex >
                <label>Last Name</label>
                <input autocomplete="off" ng-maxlength="30" type="text" md-no-asterisk ng-model="newUser.lastName" name="lastName" 
                        ng-required="true" ng-pattern="/^[a-z\s]+$/i" tabindex="2">
                <div ng-messages="signupForm.lastName.$error">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="maxlength">The last name has to be less than 30 characters long.</div>
                    <div ng-message="pattern">The last name can only have alphabets and spaces.</div>
                </div>
                <md-icon class="material-icons md-primary" md-menu-align-target>person</md-icon>
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container flex>
                <label>Email</label>
                <input autocomplete="off" type="email" ng-model="newUser.email" name="email" ng-required="true">
                <div ng-messages="signupForm.email.$error">
                    <div ng-message="required">Email is required.</div>
                    <div ng-message="email">Incorrect email format</div>
                </div>
                <md-icon class="material-icons md-primary" md-menu-align-target>email</md-icon>
            </md-input-container>
        </div>
        
        <div layout="row">
            <md-input-container flex>
                <label>User Name</label>
                <input autocomplete="off" ng-maxlength="30" type="text" md-no-asterisk ng-model="newUser.userName" name="userName" ng-required="true">
                <div ng-messages="signupForm.userName.$error">
                    <div ng-message="required">Username is required.</div>
                    <div ng-message="maxlength">The username name has to be less than 30 characters long.</div>
                </div>
                <md-icon class="material-icons md-primary" md-menu-align-target>verified_user</md-icon>
            </md-input-container>
        </div>
        
        <div layout="row">
            <md-input-container flex>
                <label>Password</label>
                <input autocomplete="off" type="password" md-no-asterisk ng-model="newUser.password" name="password" ng-required="true">
                <div ng-messages="signupForm.password.$error">
                    <div ng-message="required">Password is required.</div>
                </div>
                <md-icon class="material-icons md-primary" md-menu-align-target>vpn_key</md-icon>
            </md-input-container>
        </div>
        
        <div layout="row">
            <md-input-container flex>
                <label>Phone Code</label>
                <input autocomplete="off" type="text" md-no-asterisk ng-model="newUser.phoneNo.code" name="phoneCode" ng-required="true" disabled>
                <md-icon class="material-icons md-primary" md-menu-align-target>code</md-icon>
                <md-tooltip md-direction="top" ng-if='signupForm.phoneCode.$error'>
                    Use the country select button
                </md-tooltip>
            </md-input-container>
            
            <md-input-container flex>
                <label>Phone Country</label>
                <input autocomplete="off" type="text" md-no-asterisk ng-model="newUser.phoneNo.country" name="phoneCountry" ng-required="true" disabled>
                <md-icon class="material-icons md-primary" md-menu-align-target>location_city</md-icon>
                <md-tooltip md-direction="top" ng-if='signupForm.phoneCode.$error'>
                    Use the country select button
                </md-tooltip>
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container flex>
                <label>Phone Number</label>
                <input autocomplete="off" ng-minlength="10" ng-maxlength="10" type="text" ng-model="newUser.phoneNo.number" name="phoneNo" 
                        ng-required="true" ng-pattern="/^[0-9]+$/">
                <div ng-messages="signupForm.phoneNo.$error" >
                    <div ng-message="required">Phone number is required.</div>
                    <div ng-message="pattern">Phone number is not valid.</div>
                    <div ng-message="minlength">Phone number must have at least 10 characters</div>
                    <div ng-message="maxlength">Phone number must have only 10 characters</div>
                </div>
                <md-icon class="material-icons md-primary" md-menu-align-target>phone</md-icon>
            </md-input-container>
        </div>
        
        <div layout="row">
            <md-button class="md-raised md-accent" ng-click='showCountrySelectDialog()'>
                Show Country Select
            </md-button>
        </div>
        
        <md-button class="md-raised md-primary" ng-disabled="!signupForm.$valid || clicked" 
                    ng-click="(clicked = !clicked) && signupUser()">
            {{ clicked ? 'Signing up..' : 'Signup' }}
        </md-button>
        
    </form>

    <p>Already have an account? <a class="download-links" href="#/profile">View Profile</a></p>
    <p>Or go <a class="download-links" href="#/home">home</a>.</p>
    </div>
</div>